html {
  height: 100%;
}

body {
  background-color: #454545;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.sphere {
  opacity: 0.7;
}

.land path {
  opacity: 0.7;
}

.city-name {
  font-size: 20px;
  color: white;
}

.country {
  opacity: 1;
  fill: #fff;
}

.country path {
  stroke-width: 1.5;
  box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#chart-wrapper {
  position: absolute;
  overflow: hidden;
  color: white;
  background-color: #22222290;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 8px #222;
  box-shadow: 0 2px 8px #222;
}

.chart {
  width: 600px;
  height: 260px;
}
.chart tr {
  height: 15px;
}

#img-usa {
  opacity: 0.3;
}
